#input p{
    float: left;
}

.ulJS{
    list-style-type: none;
    width: 100px;
    height: auto;
    background-color: lightgray;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.ulJS li{
    width: 100%;
    background-color: skyblue;
}
.ulJS li:hover{
    background-color: yellow;
}
