#slider-default{
    width: 35%;
    margin: 10px 15px;
}
.color-slder{
    width: 80%;
    margin: 20px 20px;
}

#red-color-slider .ui-corner-all{
    background:  white;
}

#red-color-slider .ui-slider-range{
    background: red;
}

#red-color-slider .ui-slider-handle{
    border-color: #ef2929;
}

#green-color-slider .ui-slider-range{
    background: greenyellow;
}

#green-color-slider .ui-slider-handle{
    border-color: greenyellow;
}

#blue-color-slider .ui-slider-range{
    background: deepskyblue;
}

#blue-color-slider .ui-slider-handle{
    border-color: deepskyblue;
}

#color-showView{
    width: 100px;
    height: 100px;
    background: skyblue;
    float: left;
}

#color-slider-div{
    width: 30%;
    float: left;
}

#voice-div{
    /*float: none;*/
}

#voice-div span{
    height: 200px;
    margin: 10px;
    float: left;
    /*position: relative;*/
}

#voice-div span .ui-slider-handle{
    width: 20px;
    height: 20px;
    margin: 0px;
}

#range-slider{
    float: none;
    position: relative;
    width: 30%;
    margin-top: 200px;
    margin-left: 20px;
}