ul{
    list-style-type: none;
    background-color: darkgray;
    padding: 10px 10px;
    width: 80px;
    border: 1px solid lightgray;
    text-align: center;
    float: left;
    margin-left: 20px;
}

li{
    background-color: lightgray;
    padding: 3px 3px;
    border: 1px solid darkgray;
}
